/* Body elements */
body {
    font-family: 'Raleway', sans-serif;
}

/* Main Header*/
h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;  
    color: #232c33ff;
}

/* Generator Styling */
.content {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 30px;
    border: #ff6542ff 10px solid;
    background-color: #101d42ff;
    text-align: center;  
}
#display {
    width: 100%;
    height: 40%;
    border: #ff6542ff 5px solid;
}
h2 {
    text-align: center;
    color: #ffb627ff;
    font-family: 'Pacifico', cursive;
}
p {
    color: #ffb627ff;
}

/* COLORS USED
--honey-yellow: #ffb627ff;
--portland-orange: #ff6542ff;
--oxford-blue: #101d42ff;
--gunmetal: #232c33ff; */